.header {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  justify-content: space-around;
}
.header-search {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.header-input {
  border: 2px solid #09090b;
  border-radius: 5px;
  padding: 0.7rem;
  outline: 1px solid grey;
}

.submit {
  background-color: #d62828;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  /* background-image: url('/public/images/backimg.png'); */
}
